In [1]:
import pandas as pd

# Sample data for 20 patients
data = {
    "patient_id": range(1, 21),  # Unique patient IDs
    "date_column": [
        "2023-01-05", "2023-01-15", "2023-02-10", "2023-02-25", "2023-03-05",
        "2023-03-20", "2023-01-12", "2023-02-28", "2023-03-15", "2023-01-08",
        "2023-01-22", "2023-02-12", "2023-03-18", "2023-01-30", "2023-02-14",
        "2023-03-25", "2023-01-17", "2023-02-05", "2023-03-22", "2023-01-09"
    ],  # Dates of visits
    "sex": [
        "Male", "Female", "Male", "Female", "Male", 
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female"
    ],  # Sex of patients
    "hospital_type": [
        "Health Centre", "District Hospital", "Health Centre", "District Hospital", "Health Centre",
        "District Hospital", "Health Centre", "District Hospital", "Health Centre", "District Hospital",
        "Health Centre", "District Hospital", "Health Centre", "District Hospital", "Health Centre",
        "District Hospital", "Health Centre", "District Hospital", "Health Centre", "District Hospital"
    ]  # Hospital type
}

# Create a DataFrame
df = pd.DataFrame(data)

In [2]:
df

    patient_id date_column     sex      hospital_type
0            1  2023-01-05    Male      Health Centre
1            2  2023-01-15  Female  District Hospital
2            3  2023-02-10    Male      Health Centre
3            4  2023-02-25  Female  District Hospital
4            5  2023-03-05    Male      Health Centre
5            6  2023-03-20  Female  District Hospital
6            7  2023-01-12    Male      Health Centre
7            8  2023-02-28  Female  District Hospital
8            9  2023-03-15    Male      Health Centre
9           10  2023-01-08  Female  District Hospital
10          11  2023-01-22    Male      Health Centre
11          12  2023-02-12  Female  District Hospital
12          13  2023-03-18    Male      Health Centre
13          14  2023-01-30  Female  District Hospital
14          15  2023-02-14    Male      Health Centre
15          16  2023-03-25  Female  District Hospital
16          17  2023-01-17    Male      Health Centre
17          18  2023-02-05  Female  District Hospital
18          19  2023-03-22    Male      Health Centre
19          20  2023-01-09  Female  District Hospital

In [3]:
# Ensure the date column is in datetime format
df['date_column'] = pd.to_datetime(df['date_column'])
df

    patient_id date_column     sex      hospital_type
0            1  2023-01-05    Male      Health Centre
1            2  2023-01-15  Female  District Hospital
2            3  2023-02-10    Male      Health Centre
3            4  2023-02-25  Female  District Hospital
4            5  2023-03-05    Male      Health Centre
5            6  2023-03-20  Female  District Hospital
6            7  2023-01-12    Male      Health Centre
7            8  2023-02-28  Female  District Hospital
8            9  2023-03-15    Male      Health Centre
9           10  2023-01-08  Female  District Hospital
10          11  2023-01-22    Male      Health Centre
11          12  2023-02-12  Female  District Hospital
12          13  2023-03-18    Male      Health Centre
13          14  2023-01-30  Female  District Hospital
14          15  2023-02-14    Male      Health Centre
15          16  2023-03-25  Female  District Hospital
16          17  2023-01-17    Male      Health Centre
17          18  2023-02-05  Female  District Hospital
18          19  2023-03-22    Male      Health Centre
19          20  2023-01-09  Female  District Hospital

In [4]:
df['month']=df['date_column'].dt.month
df_filtered=df[df['month'].isin([1,2,3])]
df_filtered

    patient_id date_column     sex      hospital_type  month
0            1  2023-01-05    Male      Health Centre      1
1            2  2023-01-15  Female  District Hospital      1
2            3  2023-02-10    Male      Health Centre      2
3            4  2023-02-25  Female  District Hospital      2
4            5  2023-03-05    Male      Health Centre      3
5            6  2023-03-20  Female  District Hospital      3
6            7  2023-01-12    Male      Health Centre      1
7            8  2023-02-28  Female  District Hospital      2
8            9  2023-03-15    Male      Health Centre      3
9           10  2023-01-08  Female  District Hospital      1
10          11  2023-01-22    Male      Health Centre      1
11          12  2023-02-12  Female  District Hospital      2
12          13  2023-03-18    Male      Health Centre      3
13          14  2023-01-30  Female  District Hospital      1
14          15  2023-02-14    Male      Health Centre      2
15          16  2023-03-25  Female  District Hospital      3
16          17  2023-01-17    Male      Health Centre      1
17          18  2023-02-05  Female  District Hospital      2
18          19  2023-03-22    Male      Health Centre      3
19          20  2023-01-09  Female  District Hospital      1

In [5]:
df_updated=pd.pivot_table(
    df_filtered,
    values="patient_id",
    index=["sex","hospital_type"],
    columns="month",
    aggfunc="count",
    fill_value=0
)
df_updated.columns=["January", "February","March"]
df_updated

                          January  February  March
sex    hospital_type
Female District Hospital        4         4      2
Male   Health Centre            4         2      4

In [1]:
import pandas as pd
import numpy as np

In [4]:
file_path="C:/Users/pkatengeza/Downloads/ART numbers and data elenents for CDR data_v1_shared_.xlsx"
art_numbers=pd.read_excel(file_path,sheet_name="Facility ART numbers")
art_numbers.head()

,Bilal Dispensary,Chiradzulu District Hospital,Mbulumbudzi Health Centre,Milepa Health Centre,Namadzi Health Centre,Namitambo Health Centre,Nguludi St Josephs Hospital,Nkalo Health Centre,Dedza DH,Chileka Health Centre,...,South Lunzu Health Centre,Kapiri mission,Mchinji DH,Mwanza DH,Ntcheu District Hospital,Bvumbwe,Khonjeni,Mangunda,Thyolo DH,Malamulo
0,BLAL-ARV-2048,CRDZ-ARV-11968,MBLZ-ARV-4833,MLPA-ARV-7833,NMDZ-ARV-5876,NMTH-ARV-4909,NGU-ARV-3270,NKLO-ARV-4351,DZA-ARV-10960,CHCB-ARV-8886,...,SL-ARV-8569,KAP-ARV-5458,MCH-ARV-16,MW-ARV-10661,NCH-ARV-15626,BVU-ARV-7999,KJNH-ARV-1591,MANG-ARV-767,THY-ARV-34554,MLML-ARV-659
1,BLAL-ARV-6204,CRDZ-ARV-17608,MBLZ-ARV-4623,MLPA-ARV-4601,NMDZ-ARV-542,NMTH-ARV-5923,NGU-ARV-5038,NKLO-ARV-2511,DZA-ARV-11095,CHCB-ARV-1224,...,SL-ARV-8963,KAP-ARV-849,MCH-ARV-11644,MW-ARV-2284,NCH-ARV-15068,BVU-ARV-6912,KJNH-ARV-3970,MANG-ARV-6386,THY-ARV-20410,MLML-ARV-267
2,BLAL-ARV-7749,CRDZ-ARV-4372,MBLZ-ARV-2613,MLPA-ARV-7387,NMDZ-ARV-2207,NMTH-ARV-7608,NGU-ARV-8148,NKLO-ARV-6008,DZA-ARV-15164,CHCB-ARV-4420,...,SL-ARV-3045,KAP-ARV-642,MCH-ARV-10767,MW-ARV-6573,NCH-ARV-545,BVU-ARV-9186,KJNH-ARV-2249,MANG-ARV-4439,THY-ARV-34370,MLML-ARV-5878
3,BLAL-ARV-6022,CRDZ-ARV-17890,MBLZ-ARV-5459,MLPA-ARV-7599,NMDZ-ARV-1684,NMTH-ARV-10079,NGU-ARV-4416,NKLO-ARV-5920,DZA-ARV-6920,CHCB-ARV-7836,...,SL-ARV-3033,KAP-ARV-246,MCH-ARV-8531,MW-ARV-6066,NCH-ARV-4868,BVU-ARV-240,KJNH-ARV-3307,MANG-ARV-5878,THY-ARV-22680,MLML-ARV-2264
4,BLAL-ARV-7730,CRDZ-ARV-17685,MBLZ-ARV-2130,MLPA-ARV-1119,NMDZ-ARV-3530,NMTH-ARV-8552,NGU-ARV-8651,NKLO-ARV-2679,DZA-ARV-14358,CHCB-ARV-5386,...,SL-ARV-7820,KAP-ARV-4835,MCH-ARV-5117,MW-ARV-6336,NCH-ARV-9387,BVU-ARV-3793,KJNH-ARV-337,MANG-ARV-078,THY-ARV-8894,MLML-ARV-2736

In [ ]:
art_numbers_pivoted=pd.melt(art_numbers,
                            id)